$pageFontFamily: HelveticaNeue, Helvetica, Arial, sans-serif;
$pageFontSize: 16px;
$pageFontColor: #131313;

$sideMenuBackground: #000;
$sideMenuColor: #fff;
$sideMenuFontSize: 14px;

$mainHeaderBackground: #ffffff;
$mainHeaderMenuItemSelected: #000000;

$contentBlockBackgroundColor: #ffffff;
