@import 'constants';


html {
  font-family: sans-serif;
  color: #606264;
}

body {
  display: flex;
  padding: 0;
  margin: 0;
  font-family: $pageFontFamily;
  color: $pageFontColor;
  font-size: $pageFontSize;
}

h3 {
  font-size: 32px;
  color: #419bf9;
}

.wrapper {
  width: 100%;
}

@import 'left_menu';
@import 'main_header';
@import 'main_content';

.pageBody {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  .mainBlock {
    width: calc(100% - 270px);
    background-color: #eeebe5;
  }
}